body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        145deg,
        #43c737 0%,
        #2f60b6 30%,
        #223e75 100%
    );
}

.logo-text {
    color: #e8ebe6;
    font-size: 2rem;
    font-weight: 600;
}
nav, .nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav {
    margin-bottom: 0;
}

.nav-button,
.nav-button-active {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(250, 249, 249);
    transition: all 0.5s;
}

.nav-button-active {
    background-color: rgb(245, 245, 245);
    padding: 8px;
    color: black;
    border-radius: 6px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.social-icons a {
    color: white;
    font-size: 25px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #43c737;
}
